:root{
    --laranja: #CC7722;
    --laranja-hover: #f79b3f;
    --preta: #28282B;
    --preta-black: #1f1f20; 
    --branca: #ffffff;
    --nav: #cccccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base*/

body{
    background-color: var(--preta);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color:var(--branca);
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .home{
    text-decoration: none;
}

header .box-home{
    display: flex;
    flex-direction: row;
    align-items:center;
}

header .logo{
    margin-left: 5px;
    margin-right: 20px;
    font-style: italic;
    color: var(--laranja); 
}

header .pesquisa{
    margin-left: 5px;
    margin-right: 40px;
    background-color: var(--preta);
    border-style: solid;
    border-color: var(--preta-black);
    border-radius: 3px;
}

header .pesquisa:hover{
    background-color: var(--nav);
}

header .pesquisa:focus{
    background-color: var(--branca);
}

header nav{
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: var(--nav);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--branca);
}

/*Jogo Principal*/

.jogo-principal{
    font-size: 16px;
    background: linear-gradient(to left, transparent, var(--preta)), url('/img/aovivo/jogo-principal.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-start;
}

.jogo-principal .descricao{
    margin-bottom: 30px;
}

.container{
    padding: 20px;
}

.titulo{
    font-size: 30px;
}

.botao{
    background-color: var(--laranja);
    border: none;
    border-radius: 10px 0 10px 0;
    padding: 10px 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: var(--laranja-hover);
}

.box-jogo{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    display: block;
}

.item img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1;
}

.item:hover img {
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.carrosel-aovivo{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    color:var(--laranja);
}

.carrosel-aovivo .owl-carousel .item{
    font-size: 16px;
    font-weight: normal;
    color:var(--branca);
}